@charset "UTF-8";
:root {
  --cor0: hsl(0, 0%, 100%); 
  --cor1: hsl(275, 100%, 97%);
  --cor2: hsl(292, 16%, 49%);
  --cor3: hsl(292, 42%, 14%);
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: var(--cor1);
  height: 100vh;
  font-family: "Work Sans"; 
  position: relative;
}

.conteudo-principal {
  width: 550px;
  height: auto;
  background-color: var(--cor0);
  position: absolute;
  left: 650px;
  top: 200px;
  border-radius: 20px;
  padding-bottom: 20px;
}

h1 {
  position: relative;
  font-size: 3rem;
  font-weight: 700;
  color: var(--cor3);
  padding: 36px;
  margin-left: 50px;
}

h1::before {
  content: '';
  width: 40px;
  height: 40px;
  position: absolute;
  left: -20px;
  top: 45px;
  background-image: url('/assets/images/icon-star.svg');
  background-size: cover;
}

.conteudo-perguntas button {
  color: var(--cor3);
  border: none;
  background: none;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  text-align: left;
  display: flex;
  align-items: center;
  padding: 12px 30px;
}

.icon-minus {
  display: none;
}

.icon-plus,
.icon-minus {
  position: absolute;
  left: 470px;
}

.conteudo-perguntas div:nth-of-type(n+2) button {
  margin-top: 20px;
}

.conteudo-perguntas div:nth-child(-n+3)::after {
  content: '';
  display: block;
  width: 85%;
  height: 2px;
  background-color: var(--cor1);
  margin-top: 20px;
  margin-left: 30px;
}

.conteudo-perguntas dd {
  display: none;
}

.conteudo-perguntas dd.ativa {
  display: block;
}

.conteudo-perguntas dd {
  color: var(--cor2);
  font-size: 0.895rem;
  font-weight: 400;
  line-height: 1.3;
  max-width: 50ch;
  padding-left: 30px;
}


.bg-image img {
  width: 100%;
  height: auto;
}

.attribution { 
  font-size: 1rem; 
  text-align: center;
  position: fixed; 
  bottom: 0;
  width: 100%;
}

.attribution a { 
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

@media (max-width: 800px) {
  
  h1 {
    font-size: 2.5rem;
  }

  h1::before {
    height: 24px;
    width: 24px;
    top: 50px;
  }

  .conteudo-principal {
    width: 375px;
    height: auto;
    background-color: var(--cor0);
    position: absolute;
    left: 70px;
    top: 50px;
    border-radius: 20px;
    padding-bottom: 20px;
  }

  .icon-plus,
  .icon-minus {
    position: absolute;
    left: 320px;
  }

  .conteudo-principal button {
    max-width: 30ch;
    line-height: 1.3;
    padding: 8px 30px;
    margin-top: -15px;
  }

  .conteudo-principal dd {
    max-width: 280px;
  }

  .attribution {
    font-size: 0.825rem;
  }
}